.aspect-ratio {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: calc(100% / 1.5); /* Adjust the aspect ratio by changing the padding-top value */
  }
  
  .aspect-ratio .card-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  